# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [1]:
import pandas as pd
NBA_stats = pd.read_csv('nbastats2018-2019.csv', sep = ',')

In [11]:
NBA_Player_Average_Age = NBA_stats['Age'].mean()
print(f'2018-19 NBA Average Age:\n   {round(NBA_Player_Average_Age)} years old')

2018-19 NBA Average Age:
   26 years old

# What player scored the most points?

In [16]:
NBA_stats['TP'] = round(NBA_stats['Points'] * NBA_stats['G'])
Top_Scoring = NBA_stats.sort_values('TP', ascending = False, kind = 'mergesort')
Top_Scoring = Top_Scoring.head(1)[['Name', 'Team', 'TP', 'Points']]
Top_Scoring

             Name             Team      TP  Points
202  James Harden  Houston Rockets  2816.0    36.1

# What player had the most blocks during the season? Was it a post player (F/C)?

In [18]:
NBA_stats['TB'] = round(NBA_stats['Blocks'] * NBA_stats['G'])
Top_Blockers = NBA_stats.sort_values('TB', ascending = False, kind = 'mergesort')
Top_Blockers = Top_Blockers.head(1)[['Name', 'Team', 'TB', 'Blocks']]
Top_Blockers

             Name            Team     TB  Blocks
476  Myles Turner  Indiana Pacers  200.0     2.7

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [19]:
WINS = NBA_stats.groupby('Team').sum().sort_values('WS', ascending = False, kind = 'mergesort')
WINS.head()[['WS']]

                         WS
Team
Milwaukee Bucks        63.0
Golden State Warriors  55.9
Utah Jazz              53.6
Toronto Raptors        52.9
Philadelphia 76ers     52.8

# What player had the best 3-pt percentage?

In [20]:
Filter = NBA_stats[(NBA_stats.G >= 45) & (NBA_stats.FG3A >= 3)]
Top_Shooters = Filter.sort_values('FG3%', ascending = False, kind = 'mergesort')
Top_Shooter = Top_Shooters.head(1)[['Name', 'Team', 'FG3%', 'FG3A', 'Points']]
Top_Shooter

           Name           Team   FG3%  FG3A  Points
207  Joe Harris  Brooklyn Nets  0.474   5.1    13.7

# Who played the most minutes during the season

In [21]:
NBA_stats['TMP'] = NBA_stats['MP'] * NBA_stats['G']
High = NBA_stats.sort_values('TMP', ascending = False, kind = 'mergesort')
Most_Played = High.head(1)[['Name', 'Team', 'TMP', 'MP']]
Most_Played

            Name                Team     TMP    MP
37  Bradley Beal  Washington Wizards  3025.8  36.9

# What player given their player effiecency rating was the clutchest during the season?

In [22]:
Clutchest = NBA_stats[NBA_stats.G >= 45]
NBA_Clutch = Clutchest.sort_values('PER', ascending = False, kind = 'mergesort')
Top_Clutch = NBA_Clutch.head(1)[['Name', 'Team', 'PER', 'Points', 'Rebounds', 'Assists']]
Top_Clutch

                     Name             Team   PER  Points  Rebounds  Assists
15  Giannis Antetokounmpo  Milwaukee Bucks  30.9    27.7      12.5      5.9

# What team had the youngest roster?

In [26]:
Young = NBA_stats.groupby('Team').mean().sort_values('Age', kind = 'mergesort')
Young.head()[['Age']].round()

                   Age
Team
Chicago Bulls     24.0
Sacramento Kings  24.0
Orlando Magic     25.0
New York Knicks   25.0
Phoenix Suns      25.0

# Who is the highest paid player during the seasion?

In [29]:
Earnings = NBA_stats.sort_values(by = 'Salary', ascending = False, kind = 'mergesort')
Top_Earner = Earnings.head(1)[['Name', 'Team', 'Salary', 'Age']]
Top_Earner

              Name                   Team    Salary  Age
121  Stephen Curry  Golden State Warriors  37457154   30

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [30]:
Horrible = NBA_stats[(NBA_stats.G >= 40) & (NBA_stats.FTA >= 1)].sort_values('FT%', kind = 'mergesort')
Horrible_Shooter = Horrible.head(1)[['Name', 'Team', 'FT%', 'Points']]
Horrible_Shooter

          Name                Team    FT%  Points
27  Lonzo Ball  Los Angeles Lakers  0.417     9.9